/* You can add global styles to this file, and also import other style files */
// TODO: Name all colors.
html,
body {
  height: 100%;
}
// TODO: Change the font.
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    svg {
      &.fa-facebook-f {
        path {
          transition: 1s;
          fill: #3b5998;
        }
      }
      &.fa-instagram {
        path {
          transition: 1s;
          fill: #e1306c;
        }
      }
      &.fa-linkedin-in {
        path {
          transition: 1s;
          fill: #0077b5;
        }
      }
      &.fa-twitter {
        path {
          transition: 1s;
          fill: #1da1f2;
        }
      }
    }
  }
}

// Required to put it here in order overwrite Angular Material's styles for global behaviours.
.mat-drawer-backdrop {
  position: fixed !important;
}

// Required to put it here in order to overwrite Angular Material's styles used in a contact.
mat-card {
  .mat-form-field-subscript-wrapper {
    padding: 0 !important;
  }
  .mat-datepicker-toggle-default-icon {
    font-size: 2rem;
  }
  z-index: 0;
}

// Required to put it here in order to overwrite Angular Material's styles used in a footer.
footer {
  input,
  mat-hint,
  .placeholder,
  .mat-form-field-label {
    color: white !important;
  }

  mat-hint {
    color: white !important;
  }
  .mat-form-field-hint-spacer {
    display: none;
  }
  .mat-form-field-underline {
    background-color: white !important;
  }
}

// Required to put it here in order to overwrite Angular Material's styles used in partnerships.
.mat-tab-body-content {
  text-align: center;
}
mat-tab-body {
  margin-top: 20px;
}
