// TODO: Name all colors.
// TODO: Make mat-card styling here.

a {
  text-decoration: none;
  &:hover {
    svg {
      &.fa-facebook-f {
        path {
          transition: 1s;
          fill: #3b5998;
        }
      }
      &.fa-instagram {
        path {
          transition: 1s;
          fill: #e1306c;
        }
      }
      &.fa-linkedin-in {
        path {
          transition: 1s;
          fill: #0077b5;
        }
      }
      &.fa-twitter {
        path {
          transition: 1s;
          fill: #1da1f2;
        }
      }
    }
  }
}

app-gallery {
  a {
    color: #039be5;
    &:hover {
      color: #7afffb;
      transition: 1s;
    }
  }
}

// TODO: Change the font.
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Required to put it here in order to overwrite Angular Material's styles used in a footer.
footer {
  input,
  mat-hint,
  .placeholder,
  .mat-form-field-label {
    color: white !important;
  }

  mat-hint {
    color: white !important;
  }
  .mat-form-field-hint-spacer {
    display: none;
  }
  .mat-form-field-underline {
    background-color: white !important;
  }
}

html,
body {
  height: 100%;
}

main {
  margin-bottom: 50px;
}

// Required to put it here in order to overwrite Angular Material's styles used in a contact.
mat-card {
  .mat-form-field-subscript-wrapper {
    padding: 0 !important;
  }
  .mat-datepicker-toggle-default-icon {
    font-size: 2rem;
  }
  z-index: 0;
}

mat-tab-body {
  margin-top: 20px;
}

// Required to put it here in order overwrite Angular Material's styles for global behaviours.
.mat-drawer-backdrop {
  position: fixed !important;
}

// Required to put it here in order to overwrite Angular Material's styles used in partnerships.
.mat-tab-body-content {
  text-align: center;
}

// Remove unecessary default padding for first and last cell enforced by Angular Material on small and medium devices.
@media (max-width: 960px) {
  mat-cell {
    &:first-of-type,
    &:last-of-type {
      padding: 0px !important;
    }
  }
}
