/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
// TODO: Change the font.
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    svg {
      &.fa-facebook-f {
        path {
          transition: 1s;
          fill: #3b5998;
        }
      }
      &.fa-instagram {
        path {
          transition: 1s;
          fill: #e1306c;
        }
      }
      &.fa-linkedin-in {
        path {
          transition: 1s;
          fill: #0077b5;
        }
      }
      &.fa-twitter {
        path {
          transition: 1s;
          fill: #1da1f2;
        }
      }
    }
  }
}

// Required to put it here in order to override Angular Material's styles used in a footer.
footer {
  mat-hint {
    color: white !important;
  }
  .mat-form-field-hint-spacer {
    display: none;
  }
  .mat-form-field-underline {
    background-color: white !important;
  }
}

// Contact Angular Material's styles overwriting.
mat-card {
  .mat-form-field-subscript-wrapper {
    padding: 0 !important;
  }
  .selected-flag {
    z-index: 0 !important;
  }
}
